@import "reset.css";
/* @import "normalize.css"; */

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* index Page CSS */
html {
	max-width: 1024px;
	font-size: 62.5%;
	margin: auto;
}
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media(max-width: 768px){
	header {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	header nav {
		order: 2;
		width: 100%;
	}
	.navBarLogo {
		order: 1;
	}
	.logo {
		flex-shrink: 0;
	}
	.headerLeft {
		margin: auto;
		order: 3;
		margin-bottom: 5%;
	}
	.headerRight {
		display: none;
	}
}

@media(max-width: 480px){
	html {
		width: 100%;
		font-size: 62.5%;
		margin: auto;
	}
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.logo {
		flex-shrink: 0;
		margin-left: 380px;
	}
	nav {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	.servicesNav {
		border-top: 1px solid black;
		padding-top: 10%;
	}
	nav a {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-bottom: 10%;
		border-bottom: 1px solid black;
		font-size: 2.6rem;
	}
	.topArticle {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.topArticle div {
		width: 100%;
		margin-left: 2%;
	}
	.bottomArticle {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.bottomArticle div {
		width: 100%;
		margin-left: 4%;
	}
	.services-header-img {
		display: none;
	}
	.servicesPageServices {
		width: 100%;
		padding: 3%;
	}
	.servicesArticleCenter {
		display: flex;
		flex-direction: column;
	}
	.servicesArticleCenter article {
		width: 100%;
		margin: 2%;
	}
	.bottomArticleImage {
		width: 100%;
	}
	.bottomArticleImage article {
		width: 100%;
	}
	.bottomImage {
		display: none;
	}
}


nav {
	/* border: 2px solid red; */
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
nav a {
	text-decoration: none;
	margin: 5% 0% 5% 0%;
	color: lightgrey;
	font-size: 1.3rem;
}
.navBarLogo {
	/* border: 2px solid green; */
	width: 20%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2.5% 0% 0% 0%
}
.headerLeft {
	/* border: 2px solid red; */
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.headerLeft h1 {
	font-size: 7.0rem;
}
.headerLeft button {
	background-color: white;
	font-size: 2.0rem;
}
.headerRight {
	/* border: 2px solid green; */
	width: 40%;

}
hr {
	width: 100%;
	height:2px;
	border-width:0;
	color:black;
	background-color:black;
	margin: 2% 0% 2% 0%;
	display: flex;
	justify-content: center;
}
.topArticle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
}
.features {
	width: 48%;
	margin: auto;
}
.about {
	width: 48%;
	margin: auto;
}
.middle-img {
	width: 100%;
	margin: 2% 0% 2% 0%;
}
.bottomArticle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem
}
.services {
	width: 30%;
}
.product {
	width: 30%;
}
.vision {
	width: 30%;
}
address {
	font-size: 1.6rem;
}
footer {
	font-size: 1.6rem;
	text-align: center;
	margin: 2% 0% 2% 0%;
}
/* Service Page CSS */
/*Below is the example how to get the image on the background.*/
/* .servicesHTML{
	background-image: url("../img/htmlCode-20190430.jpg");
	background-position: center;
	background-size: cover;
} */
.topImageArticle {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
}
.servicesPageServices {
	margin: 0% 0% 0% 0%;
}
.servicesArticleCenter {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 1.6rem;	
}
.servicesArticleCenter h2 {
	margin: 5% 5% 5% 5%;
}
.servicesArticleCenter p {
	padding: 0% 5% 5% 5%;
}
/*Blocked out because regular button doesn't match*/
/* .servicesArticleCenter button {
	width: 30%;
	height: 20%;
	margin: 0% 5% 10% 5%;
	border-radius: 15%;
	background-color: white;
} */
.divButton{
	width: 30%;
	height: 15%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	margin: 0% 5% 10% 5%;
	padding: 1.5% 0% 0% 0%;
	text-align: center;
}
.digitalDesign {
	width: 45%;
	border: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 5%;
}
.uxui {
	width: 45%;
	border: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 5%;
}
.digitalMarketing {
	width: 45%;
	border: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 5%;
}
.webDevelopment {
	width: 45%;
	border: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 5%;
}
.iosDevelopment {
	width: 45%;
	border: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 3%;
}
.androidDevelopment {
	width: 45%;
	border: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 3%;
}
.bottomArticleImage {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	
}
.bottomArticleImage ul {
	list-style-type: square;
}
.bottomArticleList {
	width: 45%;
	margin: 0% 0% 0% 2%;
}
.bottomArticleList ul{
	margin: 5% 0% 0% 3%;
	line-height: 1.6;
}
.bottomImage {
	width: 45%;
}